<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:method="GET" th:action="@{/books/search}">
    <label for="request">Введите поисковой запрос: </label>
    <input type="text" id="request" name="request">
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<br/>

<div th:if="${result}">
    <div th:each="book : ${result}">
        <span th:text="${book.getTitle() + ', ' + book.getAuthorName() + ', ' + book.getPublishYear()}">book</span>
        <br/>
        <div th:if="${book.getOwner()}">
            <span>Книга сейчас у: </span> <span th:text="${book.getOwner().getName()}">Owner name</span>
        </div>
        <div th:unless="${book.getOwner()}">
            <span>Книга свободна</span>
        </div>
        <br/>
        <hr/>
    </div>
</div>
<div th:unless="${result}">
    <span>Книг не найдено</span>
</div>
</body>
</html>